img.img-thumbnail{
  height: 100px;
  min-width: 100px !important;
  margin-bottom: 2px;
}

.nv-file-over {
  border: 3px dotted dodgerblue;
}

input[type=file]{
  color: transparent;
}
.img-thumbnail{
  position: relative;
}
.photo:hover .delete-btn{
  opacity: 1;
  z-index: 10;
}
.delete-btn{
  position: absolute;
  padding: 0 5px;
  top: 2px;
  right: 2px;
  font-size: 16px;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.delete-btn:disabled{
  background: grey;
}
.delete-btn:hover{
  cursor: pointer;
}
